FantasyFootball/bin/Debug/net6.0/appsettings.Development.json
FantasyFootball/bin/Debug/net6.0/appsettings.json
FantasyFootball/bin/Debug/net6.0/FantasyFootball
FantasyFootball/bin/Debug/net6.0/FantasyFootball.deps.json
FantasyFootball/bin/Debug/net6.0/FantasyFootball.dll
FantasyFootball/bin/Debug/net6.0/FantasyFootball.pdb
FantasyFootball/bin/Debug/net6.0/FantasyFootball.runtimeconfig.json
FantasyFootball/bin/Debug/net6.0/FantasyFootball.staticwebassets.runtime.json
FantasyFootball/bin/Debug/net7.0/appsettings.Development.json
FantasyFootball/bin/Debug/net7.0/appsettings.json
FantasyFootball/bin/Debug/net7.0/FantasyFootball
FantasyFootball/bin/Debug/net7.0/FantasyFootball.deps.json
FantasyFootball/bin/Debug/net7.0/FantasyFootball.dll
FantasyFootball/bin/Debug/net7.0/FantasyFootball.pdb
FantasyFootball/bin/Debug/net7.0/
